<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_monster_boss_24qianzi_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{1,1}}</string>
                <key>offset</key>
                <string>{-111.5,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{224,273}</string>
            </dict>
            <key>img_monster_boss_24qianzi_party_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,273}}</string>
                <key>sourceSize</key>
                <string>{224,273}</string>
            </dict>
            <key>img_monster_boss_24qianzi_party_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{80,139}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,83},{80,139}}</string>
                <key>sourceSize</key>
                <string>{224,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_plane_boss_qianzi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:156347ba9f38f37f6bbab83647ce73f4$</string>
            <key>textureFileName</key>
            <string>img_plane_boss_qianzi.png</string>
        </dict>
    </dict>
</plist>
