<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjwns_shui1_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,174},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>wsparticle_jjwns_shui1_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,174},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjwns_shui1_low.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6022937290d41b1b812dc7ca360308ba$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjwns_shui1_low.png</string>
        </dict>
    </dict>
</plist>
