<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_monster_buf_60_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,425},{62,50}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{62,50}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{72,78}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,265},{72,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,178},{72,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{72,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,176},{72,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,89},{76,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,89},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wsparticle_monster_buf_60_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_monster_buf_60.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:024b242db453f4817133e72b46ae9a83$</string>
            <key>textureFileName</key>
            <string>wsparticle_monster_buf_60.png</string>
        </dict>
    </dict>
</plist>
