<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jiutianxuannv2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,794},{258,174}}</string>
                <key>offset</key>
                <string>{-31,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,174}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,372}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{284,372}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,285},{242,350}}</string>
                <key>offset</key>
                <string>{39,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{242,350}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{310,196}}</string>
                <key>offset</key>
                <string>{5,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,284},{310,196}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,412},{264,154}}</string>
                <key>offset</key>
                <string>{-28,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{264,154}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,329},{158,82}}</string>
                <key>offset</key>
                <string>{33,175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,24},{158,82}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,248},{126,80}}</string>
                <key>offset</key>
                <string>{97,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,651},{142,142}}</string>
                <key>offset</key>
                <string>{75,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,49},{142,142}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,121},{136,126}}</string>
                <key>offset</key>
                <string>{15,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,139},{136,126}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{138,120}}</string>
                <key>offset</key>
                <string>{-48,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,230},{138,120}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,528},{122,164}}</string>
                <key>offset</key>
                <string>{-99,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,316},{122,164}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{180,144}}</string>
                <key>offset</key>
                <string>{-70,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,336},{180,144}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,677},{104,82}}</string>
                <key>offset</key>
                <string>{50,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,305},{104,82}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wsparticle_jiutianxuannv2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,969},{68,46}}</string>
                <key>offset</key>
                <string>{126,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,282},{68,46}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiutianxuannv2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba01dbfcf53d654fa5ba1580762e2a0$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiutianxuannv2.png</string>
        </dict>
    </dict>
</plist>
