<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_shizitou001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>wsparticle_shizitou002.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>wsparticle_shizitou003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,30},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_shizitou.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52a8eb8cc546330ce5ec0590c7dc5682$</string>
            <key>textureFileName</key>
            <string>wsparticle_shizitou.png</string>
        </dict>
    </dict>
</plist>
