<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jiutian8_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,316},{79,108}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{79,108}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,86}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{117,86}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{109,124}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{109,124}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{105,166}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{105,166}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,128},{81,186}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{81,186}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{77,180}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{77,180}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,316},{71,108}}</string>
                <key>offset</key>
                <string>{7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,85},{71,108}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>wsparticle_jiutian8_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,128},{57,64}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,125},{57,64}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiutian8_low.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23e97d06df3ab3f76b79d16c00cf5d41$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiutian8_low.png</string>
        </dict>
    </dict>
</plist>
