<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_highexplosivebomb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{124,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{124,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,126},{126,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,126},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_highexplosivebomb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{124,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_highexplosivebomb.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b02a48b3ed13da74ba6402528a3874d$</string>
            <key>textureFileName</key>
            <string>wsparticle_highexplosivebomb.png</string>
        </dict>
    </dict>
</plist>
