<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_guanyuhuidao_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{196,218}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,41},{196,218}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{140,168}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{140,168}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,197},{186,154}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{186,154}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,153},{198,152}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{198,152}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,344},{156,150}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,60},{156,150}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,352},{116,154}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,53},{116,154}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{258,178}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{258,178}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,716},{136,168}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,37},{136,168}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{120,188}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,24},{120,188}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{212,214}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{212,214}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{252,152}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{252,152}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,344},{154,142}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{154,142}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,215},{186,128}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,81},{186,128}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,306},{180,134}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,78},{180,134}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{164,148}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,68},{164,148}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,441},{140,168}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{140,168}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>wsparticle_guanyuhuidao_04_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,0},{186,196}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,56},{186,196}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_guanyuhuidao_04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b142e42eee5d41ca37a5a20df3a8b6a$</string>
            <key>textureFileName</key>
            <string>wsparticle_guanyuhuidao_04.png</string>
        </dict>
    </dict>
</plist>
