<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_ui_zhuan1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{68,78}}</string>
                <key>offset</key>
                <string>{-30,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,88}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{52,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{58,84}}</string>
                <key>offset</key>
                <string>{-35,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{58,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,74},{76,72}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,168},{84,52}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,76},{84,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{84,54}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,74},{84,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{76,74}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,84},{56,84}}</string>
                <key>offset</key>
                <string>{36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{56,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{50,88}}</string>
                <key>offset</key>
                <string>{39,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,13},{50,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,146},{68,78}}</string>
                <key>offset</key>
                <string>{30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,174},{82,60}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{82,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_ui_zhuan1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,88},{86,48}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_ui_zhuan1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b2e7b06a82f28d64d7a9551aee03e0$</string>
            <key>textureFileName</key>
            <string>wsparticle_ui_zhuan1.png</string>
        </dict>
    </dict>
</plist>
