<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jingyinguai3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{194,85}}</string>
                <key>offset</key>
                <string>{-4,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{210,227}</string>
            </dict>
            <key>wsparticle_jingyinguai3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,59}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{210,59}}</string>
                <key>sourceSize</key>
                <string>{210,227}</string>
            </dict>
            <key>wsparticle_jingyinguai3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{202,83}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,105},{202,83}}</string>
                <key>sourceSize</key>
                <string>{210,227}</string>
            </dict>
            <key>wsparticle_jingyinguai3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{138,77}}</string>
                <key>offset</key>
                <string>{22,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,150},{138,77}}</string>
                <key>sourceSize</key>
                <string>{210,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_Jingyinguai3.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e615872b4c5a0a552fd5667ed8fd1b:3673ecbbfb84b64023263c187250969a:74bc66a358fb6d63b11c0e3b1f9e2e55$</string>
            <key>textureFileName</key>
            <string>wsparticle_Jingyinguai3.png</string>
        </dict>
    </dict>
</plist>
