<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitaoxiaojia_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,438},{50,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{50,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,354},{56,54}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{58,52}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,298},{50,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,238},{50,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{50,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,310},{54,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,398},{54,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{54,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojia_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{52,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,236},{56,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,296},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,438},{56,60}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,62},{54,58}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,358},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{54,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,60},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,120},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,178},{56,56}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{54,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,60}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{54,54}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,60},{54,54}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojib_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,118},{54,54}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,122},{56,54}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,294},{54,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,238},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,64},{56,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{54,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,178},{54,54}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,416},{56,54}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,122},{56,54}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,62},{56,56}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{54,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{56,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojic_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,236},{54,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,62},{54,58}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{54,58}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,178},{48,66}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{48,66}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{48,50}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{48,50}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,462},{48,48}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{48,48}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{48,74}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{48,74}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,264},{50,68}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{50,68}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{56,70}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{56,70}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{56,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{56,84}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{58,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{58,86}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{58,86}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{58,62}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{58,62}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,334},{54,62}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{54,62}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,178},{48,60}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{48,60}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>wsparticle_jitaoxiaojid_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,246},{10,10}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{10,10}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitaoxiaoji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0b5ba311c16e257312b367ff816588f$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitaoxiaoji.png</string>
        </dict>
    </dict>
</plist>
