<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xiaohudie_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,396},{188,392}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{188,392}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{192,398}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{192,398}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{194,396}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{194,396}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{192,392}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{192,392}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{192,392}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{192,392}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,396},{190,388}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{190,388}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{192,400}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,400},{192,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{192,396}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{190,394}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{190,394}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>wsparticle_xiaohudie_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,400},{194,394}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{194,394}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xiaohudie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01e0d283a734560af9b154d688be8e73$</string>
            <key>textureFileName</key>
            <string>wsparticle_xiaohudie.png</string>
        </dict>
    </dict>
</plist>
