<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_aboluolaser_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,391},{232,108}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{232,108}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{238,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{238,116}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,153},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,274},{238,106}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{238,106}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,391},{240,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{240,106}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_aboluolaser_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{461,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{461,152}}</string>
                <key>sourceSize</key>
                <string>{461,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_aboluolaser.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:558f207d64aa3f4d4d50d5730f5956a7$</string>
            <key>textureFileName</key>
            <string>wsparticle_aboluolaser.png</string>
        </dict>
    </dict>
</plist>
