<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_tieshanbajiao2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,104},{106,146}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{106,146}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,208},{106,140}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{104,142}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{104,142}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,314},{104,136}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,36},{104,136}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,316},{106,134}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,38},{106,134}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,290},{106,138}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{106,138}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{106,142}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{102,150}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{102,150}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,212},{100,140}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{100,140}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{100,144}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{100,144}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{100,148}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{100,148}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{100,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{100,156}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{100,162}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{100,162}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>wsparticle_tieshanbajiao2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,168}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{100,168}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_tieshanbajiao2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b64779c64c37254fc888bf1d755e700$</string>
            <key>textureFileName</key>
            <string>wsparticle_tieshanbajiao2.png</string>
        </dict>
    </dict>
</plist>
