<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jiutianxuannv17_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,504},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,504},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,504},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{122,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,504}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_jiutianxuannv17_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,506},{122,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,502}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiutianxuannv17.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3af19f5cb632b08ae11d2abe99aa358b$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiutianxuannv17.png</string>
        </dict>
    </dict>
</plist>
