<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbhoutao_up7_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{284,59}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,48},{284,59}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,220},{288,77}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{288,77}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{290,75}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,45},{290,75}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{290,75}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{290,75}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{292,67}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,45},{292,67}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{286,71}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{286,71}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{288,65}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{288,65}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{292,83}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{292,83}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,75}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{296,75}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
            <key>wsparticle_zbhoutao_up7_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{272,75}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{272,75}}</string>
                <key>sourceSize</key>
                <string>{348,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbhoutao_up7.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b9036fea5de684cd3a0352881630a1$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbhoutao_up7.png</string>
        </dict>
    </dict>
</plist>
