<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_pai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{258,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,285}}</string>
                <key>sourceSize</key>
                <string>{258,285}</string>
            </dict>
            <key>wsparticle_pai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{193,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,480}}</string>
                <key>sourceSize</key>
                <string>{193,480}</string>
            </dict>
            <key>wsparticle_pai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{260,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,108}}</string>
                <key>sourceSize</key>
                <string>{260,108}</string>
            </dict>
            <key>wsparticle_pai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,480}}</string>
                <key>sourceSize</key>
                <string>{193,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_pai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723b87913b0b5d40f20558cf576977c4:eb75e22ef12275ea6ab71026bfbd87bf:3b1ca9adf001ffdf4ad23044a62ed397$</string>
            <key>textureFileName</key>
            <string>wsparticle_pai.png</string>
        </dict>
    </dict>
</plist>
