<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1515_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,855},{116,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,103},{116,116}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,805},{194,202}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{194,202}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{282,284}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{282,284}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,311},{298,296}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{298,296}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,0},{320,310}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{320,310}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{332,314}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{332,314}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{316,298}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{316,298}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,299},{308,288}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{308,288}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{286,254}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,36},{286,254}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>wsparticle_j1515_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,588},{264,216}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{264,216}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1515.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9226eb006415486bdd6efec9f99df491$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1515.png</string>
        </dict>
    </dict>
</plist>
