<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_nixijinjie2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{120,113}}</string>
                <key>offset</key>
                <string>{-123,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{120,113}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,316},{210,141}}</string>
                <key>offset</key>
                <string>{-72,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{210,141}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,120},{348,145}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{348,145}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,119}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{386,119}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{372,87}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,63},{372,87}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,120},{366,63}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,74},{366,63}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,266},{348,49}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{348,49}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>wsparticle_nixijinjie2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,458},{228,41}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,87},{228,41}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_nixijinjie2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0e78b3f6ef24b16d883b443c6df412d$</string>
            <key>textureFileName</key>
            <string>wsparticle_nixijinjie2.png</string>
        </dict>
    </dict>
</plist>
