<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,220},{188,105}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{188,105}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{190,107}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{190,107}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{192,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{192,109}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,106},{192,113}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{192,113}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{196,105}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{196,105}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,109}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{198,109}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>wsparticle_dalvbu5_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{99,162}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{99,162}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
            <key>wsparticle_dalvbu5_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,163},{95,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{95,164}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
            <key>wsparticle_dalvbu5_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,328},{93,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{93,168}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
            <key>wsparticle_dalvbu5_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{91,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{91,172}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
            <key>wsparticle_dalvbu5_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,328},{85,176}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{85,176}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
            <key>wsparticle_dalvbu5_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{83,180}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{83,180}}</string>
                <key>sourceSize</key>
                <string>{121,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5037a47f26d67ce0c0792a3e9c49fcd$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu5.png</string>
        </dict>
    </dict>
</plist>
