<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_shunyi5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{45,47}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{45,47}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,172},{75,79}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{75,79}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,92},{75,79}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{75,79}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,90},{91,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,83}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{95,91}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{95,91}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,94},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,92},{99,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{99,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>wsparticle_shunyi5_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,174},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{91,81}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_shunyi5.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a1ee26eff6e8b20aace643ecb116d6$</string>
            <key>textureFileName</key>
            <string>wsparticle_shunyi5.png</string>
        </dict>
    </dict>
</plist>
