<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pojilu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{53,49}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>pojilu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{101,49}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>pojilu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,51},{119,49}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>pojilu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{119,49}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>pojilu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{99,49}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>pojilu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,101},{55,49}}</string>
                <key>offset</key>
                <string>{77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>zhouzuigao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,50}}</string>
                <key>offset</key>
                <string>{-100,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
            <key>zhouzuigao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{98,50}}</string>
                <key>offset</key>
                <string>{-75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
            <key>zhouzuigao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,152},{116,50}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
            <key>zhouzuigao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{114,50}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
            <key>zhouzuigao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,203},{106,50}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
            <key>zhouzuigao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,101},{52,50}}</string>
                <key>offset</key>
                <string>{98,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{248,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_pojilu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa5101803ead8103139a284d2d8721d$</string>
            <key>textureFileName</key>
            <string>wsparticle_pojilu.png</string>
        </dict>
    </dict>
</plist>
