<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_guanyu5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,378}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{194,378}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>wsparticle_guanyu5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,379},{80,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,148}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{80,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,148}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,81},{80,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{80,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{80,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{80,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,162},{80,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{80,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,405},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{80,142}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,324},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{80,142}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,243},{80,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{80,142}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,292},{80,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{80,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,147},{80,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>wsparticle_guanyu5_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{80,146}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_guanyu5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98719373fe01c441f5462c1cd32a7519$</string>
            <key>textureFileName</key>
            <string>wsparticle_guanyu5.png</string>
        </dict>
    </dict>
</plist>
