<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,760},{222,128}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,121},{222,128}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,802},{214,142}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,106},{214,142}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,191},{214,182}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,51},{214,182}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,577},{212,178}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,51},{212,178}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,595},{192,188}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,55},{192,188}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,398},{218,178}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{218,178}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,194}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,60},{230,194}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{224,194}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,65},{224,194}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{220,200}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{220,200}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{192,218}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{192,218}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,219},{184,208}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{184,208}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,201},{210,196}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{210,196}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,374},{202,182}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{202,182}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{188,172}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{188,172}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,627},{190,174}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{190,174}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,573},{206,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{206,166}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{206,190}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,69},{206,190}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,374},{192,198}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{192,198}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,756},{188,174}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,53},{188,174}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{198,204}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{198,204}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,557},{176,202}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{176,202}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,428},{186,198}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{186,198}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{166,132}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{166,132}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>wsparticle_dalvbu4_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,740},{182,162}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{182,162}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd991914ad63319a287fe4f934f8e43$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu4.png</string>
        </dict>
    </dict>
</plist>
