<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xhjjinjie2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,215},{122,64}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{122,64}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{116,68}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{116,68}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,280},{118,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,76}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{122,82}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{122,82}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,81},{126,58}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{126,58}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{128,66}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{128,66}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{130,72}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{128,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{128,72}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{124,74}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{124,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>wsparticle_xhjjinjie2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{124,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{124,80}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xhjjinjie2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725791bcafa8b23df79e3c938641218e$</string>
            <key>textureFileName</key>
            <string>wsparticle_xhjjinjie2.png</string>
        </dict>
    </dict>
</plist>
