<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu19_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,197},{170,104}}</string>
                <key>offset</key>
                <string>{104,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,11},{170,104}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{292,110}}</string>
                <key>offset</key>
                <string>{43,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,1},{292,110}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,200}}</string>
                <key>offset</key>
                <string>{-21,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{248,200}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,293},{160,242}}</string>
                <key>offset</key>
                <string>{-54,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,19},{160,242}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{164,248}}</string>
                <key>offset</key>
                <string>{-45,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,20},{164,248}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{140,196}}</string>
                <key>offset</key>
                <string>{-38,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{140,196}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>wsparticle_dalvbu19_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,368},{126,100}}</string>
                <key>offset</key>
                <string>{-46,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,150},{126,100}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu19.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9702b830a473a6a25389b8f55ba20ff7$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu19.png</string>
        </dict>
    </dict>
</plist>
