<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_ui_next_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,123}}</string>
                <key>sourceSize</key>
                <string>{74,139}</string>
            </dict>
            <key>wsparticle_ui_next_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,123}}</string>
                <key>sourceSize</key>
                <string>{74,139}</string>
            </dict>
            <key>wsparticle_ui_next_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,123}}</string>
                <key>sourceSize</key>
                <string>{74,139}</string>
            </dict>
            <key>wsparticle_ui_next_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,123}}</string>
                <key>sourceSize</key>
                <string>{74,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_ui_next.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fac8280f90692cb9d7c5560901f72c83$</string>
            <key>textureFileName</key>
            <string>wsparticle_ui_next.png</string>
        </dict>
    </dict>
</plist>
