<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_qrjt_wxp1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,458},{73,64}}</string>
                <key>offset</key>
                <string>{-189,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{73,64}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,746},{157,88}}</string>
                <key>offset</key>
                <string>{-147,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{157,88}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,746},{251,124}}</string>
                <key>offset</key>
                <string>{-100,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{251,124}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{345,150}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{345,150}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{443,164}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{443,164}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{451,164}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{451,164}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{451,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{451,158}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{451,136}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{451,136}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,622},{329,122}}</string>
                <key>offset</key>
                <string>{61,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,16},{329,122}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,746},{275,126}}</string>
                <key>offset</key>
                <string>{88,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,13},{275,126}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
            <key>wsparticle_qrjt_wxp1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{187,88}}</string>
                <key>offset</key>
                <string>{132,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,18},{187,88}}</string>
                <key>sourceSize</key>
                <string>{451,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_qrjt_wxp1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c52e92ea38a5d8fea37f0c91836e70e$</string>
            <key>textureFileName</key>
            <string>wsparticle_qrjt_wxp1.png</string>
        </dict>
    </dict>
</plist>
