<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_hulu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,378},{100,171}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,171}}</string>
                <key>sourceSize</key>
                <string>{100,177}</string>
            </dict>
            <key>wsparticle_hulu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wsparticle_hulu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,352},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>wsparticle_hulu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,191}}</string>
                <key>sourceSize</key>
                <string>{183,191}</string>
            </dict>
            <key>wsparticle_hulu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,195},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>wsparticle_hulu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{174,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,181}}</string>
                <key>sourceSize</key>
                <string>{174,181}</string>
            </dict>
            <key>wsparticle_hulu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{124,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,136}}</string>
                <key>sourceSize</key>
                <string>{124,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_huluwa1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:092e293a5a4df3b59884202e33bd505a:77c589264059fe44fc6bd46a6a65385e:264ffe390529cb960d50663f5cf30e18$</string>
            <key>textureFileName</key>
            <string>wsparticle_huluwa1.png</string>
        </dict>
    </dict>
</plist>
