<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jingyinguai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,144},{133,42}}</string>
                <key>offset</key>
                <string>{-5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{133,42}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>wsparticle_jingyinguai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{169,44}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{169,44}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>wsparticle_jingyinguai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,94}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>wsparticle_jingyinguai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{151,76}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{151,76}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jingyinguai1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbe8dcae1a0f173bda4325236c9bce32:329c0ec67c07455e3e6a63a1c2e65a8b:cf5f3cde2f3fdeb89e0b57ebc16ae57b$</string>
            <key>textureFileName</key>
            <string>wsparticle_jingyinguai1.png</string>
        </dict>
    </dict>
</plist>
