<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjie1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,614},{316,302}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{316,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,626},{310,308}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{310,308}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{312,316}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{312,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{318,316}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{318,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{320,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,306},{318,306}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{318,306}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,320},{316,304}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{316,304}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{318,302}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{318,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjie1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2d2a17ab7d04efab1d6f4f63042c1d$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjie1.png</string>
        </dict>
    </dict>
</plist>
