<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jiutian2_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{130,88}}</string>
                <key>offset</key>
                <string>{-15,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,88}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,186}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,143},{122,176}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{122,176}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{156,98}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,142},{156,98}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,195},{132,78}}</string>
                <key>offset</key>
                <string>{-14,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,78}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,401},{80,42}}</string>
                <key>offset</key>
                <string>{16,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{80,42}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,71},{64,40}}</string>
                <key>offset</key>
                <string>{48,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,436},{72,72}}</string>
                <key>offset</key>
                <string>{37,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{72,72}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{70,64}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,69},{70,64}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,365},{70,60}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,115},{70,60}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,112},{60,82}}</string>
                <key>offset</key>
                <string>{-50,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{60,82}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,328},{90,72}}</string>
                <key>offset</key>
                <string>{-35,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{90,72}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,444},{52,42}}</string>
                <key>offset</key>
                <string>{25,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,152},{52,42}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>wsparticle_jiutian2_low_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,401},{34,24}}</string>
                <key>offset</key>
                <string>{63,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,140},{34,24}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiutian2_low.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1155e708e5e01f777175f27677776d65$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiutian2_low.png</string>
        </dict>
    </dict>
</plist>
