<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu11_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,183},{34,94}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,130},{34,94}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{46,130}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,95},{46,130}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{50,160}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{50,160}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{52,188}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{52,188}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,218}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,218}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{34,204}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{34,204}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{24,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{24,182}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
            <key>wsparticle_dalvbu11_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{12,164}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{12,164}}</string>
                <key>sourceSize</key>
                <string>{60,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu11_low.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a1539f54322a2dd93338424853e5e5$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu11_low.png</string>
        </dict>
    </dict>
</plist>
