<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjxsm009_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,147},{98,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,129}</string>
            </dict>
            <key>wsparticle_jjxsm009_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,151},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>wsparticle_jjxsm009_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,147},{82,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,101}}</string>
                <key>sourceSize</key>
                <string>{82,101}</string>
            </dict>
            <key>wsparticle_jjxsm009_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{26,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,172}}</string>
                <key>sourceSize</key>
                <string>{26,172}</string>
            </dict>
            <key>wsparticle_jjxsm009_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,0},{39,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,150}}</string>
                <key>sourceSize</key>
                <string>{39,150}</string>
            </dict>
            <key>wsparticle_jjxsm009_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,186}}</string>
                <key>sourceSize</key>
                <string>{196,186}</string>
            </dict>
            <key>wsparticle_jjxsm009_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{235,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,146}}</string>
                <key>sourceSize</key>
                <string>{235,146}</string>
            </dict>
            <key>wsparticle_jjxsm009_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,0},{38,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,138}}</string>
                <key>sourceSize</key>
                <string>{38,138}</string>
            </dict>
            <key>wsparticle_jjxsm009_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{38,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,174}}</string>
                <key>sourceSize</key>
                <string>{38,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjxsm009.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9898c61229fda176bfa32a100ef983$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjxsm009.png</string>
        </dict>
    </dict>
</plist>
