<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu7_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,279},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{128,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{128,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{128,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,93},{126,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,186},{126,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,279},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,372},{124,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,279},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,186},{124,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{126,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,186},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{126,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{126,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,93},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,372},{120,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,372},{122,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,93},{124,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>wsparticle_dalvbu7_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{124,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu7.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee610310ddefb2753cb612cc5f08fb4$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu7.png</string>
        </dict>
    </dict>
</plist>
