<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lightninghit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{96,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_lightninghit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,432},{78,70}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_lightninghit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,246},{96,88}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_lightninghit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{86,74}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_lightninghit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{82,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_lightninghit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,335},{94,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_super02over02.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{124,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wsparticle_super02over03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wsparticle_super02over04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{122,118}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{122,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wsparticle_super02over05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,127},{108,118}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{108,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_tuji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4188432d3e1a1fa9eccc2984ac1a00$</string>
            <key>textureFileName</key>
            <string>wsparticle_tuji.png</string>
        </dict>
    </dict>
</plist>
