<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbhoutao_up2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,0},{166,122}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,66},{166,122}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,123},{228,164}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{228,164}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{266,200}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{266,200}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,287},{280,212}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{280,212}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,287},{284,216}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{284,216}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{286,216}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{286,216}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{286,216}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{286,216}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,216}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{286,216}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>wsparticle_zbhoutao_up2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{286,204}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{286,204}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbhoutao_up2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333cdd0716a5f420c614408b7ef65c54$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbhoutao_up2.png</string>
        </dict>
    </dict>
</plist>
