<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_poseidon_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{170,122}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{170,122}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,0},{172,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{172,120}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{174,120}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,121},{168,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{168,118}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,363},{164,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{164,118}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,246},{164,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{164,118}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{164,118}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{164,118}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,365},{162,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{162,120}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,240},{164,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{164,122}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,123},{166,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{166,122}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{164,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{164,122}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>wsparticle_poseidon_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{162,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{162,122}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_poseidon2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3d85ed8f179be8f0d98005391128ed$</string>
            <key>textureFileName</key>
            <string>wsparticle_poseidon2.png</string>
        </dict>
    </dict>
</plist>
