<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_mmmjj006_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{344,346}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{344,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,325},{330,346}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{330,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,344}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,29},{322,344}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{330,342}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{330,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,680},{338,364}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{338,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{326,344}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{326,344}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{324,342}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{324,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_mmmjj006_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,343},{348,336}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{348,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_mmmjj006.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e89e4e421a9ec75de585625c9627271f$</string>
            <key>textureFileName</key>
            <string>wsparticle_mmmjj006.png</string>
        </dict>
    </dict>
</plist>
