<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_hljinjie001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,546},{186,272}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{186,272}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,271},{190,274}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{190,274}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,588},{184,270}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{184,270}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{236,282}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,74},{236,282}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,299},{266,288}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,68},{266,288}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,658},{270,296}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{270,296}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{250,322}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{250,322}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{226,326}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{226,326}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,338}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{246,338}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,339},{264,318}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{264,318}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{264,298}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{264,298}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
            <key>wsparticle_hljinjie001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,0},{266,270}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,93},{266,270}}</string>
                <key>sourceSize</key>
                <string>{280,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_hljinjie001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e09e65e4cd3d8b806e95b8c8777b4f$</string>
            <key>textureFileName</key>
            <string>wsparticle_hljinjie001.png</string>
        </dict>
    </dict>
</plist>
