<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_nezha12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,166},{47,58}}</string>
                <key>offset</key>
                <string>{-114,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{47,58}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,432},{57,64}}</string>
                <key>offset</key>
                <string>{-109,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{57,64}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,351},{75,80}}</string>
                <key>offset</key>
                <string>{-100,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{75,80}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,268},{101,82}}</string>
                <key>offset</key>
                <string>{-87,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{101,82}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,368},{133,86}}</string>
                <key>offset</key>
                <string>{-71,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{133,86}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,269},{171,98}}</string>
                <key>offset</key>
                <string>{-52,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{171,98}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{207,102}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{207,102}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{259,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{259,104}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{275,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{275,98}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{275,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{275,96}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{267,80}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{267,80}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{269,72}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{269,72}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{245,64}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{245,64}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{203,56}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{203,56}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,455},{181,52}}</string>
                <key>offset</key>
                <string>{47,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,42},{181,52}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{165,50}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,45},{165,50}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,351},{65,34}}</string>
                <key>offset</key>
                <string>{105,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,57},{65,34}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
            <key>wsparticle_nezha12_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,494},{11,10}}</string>
                <key>offset</key>
                <string>{131,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,64},{11,10}}</string>
                <key>sourceSize</key>
                <string>{275,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_nezha12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f3eb6e689a5f19e6ff36512a8ec79bd$</string>
            <key>textureFileName</key>
            <string>wsparticle_nezha12.png</string>
        </dict>
    </dict>
</plist>
