<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{400,88}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{392,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{392,92}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{390,84}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{390,84}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{398,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{398,84}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dianlian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc0ab64ddf7042b374f0374af2f955d$</string>
            <key>textureFileName</key>
            <string>wsparticle_dianlian.png</string>
        </dict>
    </dict>
</plist>
