<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_chuangkoubian2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,362}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{254,362}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{254,360}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{254,360}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{250,356}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{250,356}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{248,354}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{248,354}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,355},{246,352}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{246,352}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,708},{224,106}}</string>
                <key>offset</key>
                <string>{-8,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,276},{224,106}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>wsparticle_chuangkoubian2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,933},{108,38}}</string>
                <key>offset</key>
                <string>{-21,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,344},{108,38}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_chuangkoubian2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2be17f59cfdff0f0a544ad4e498b13b$</string>
            <key>textureFileName</key>
            <string>wsparticle_chuangkoubian2.png</string>
        </dict>
    </dict>
</plist>
