<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xintianbing6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{378,186}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,119},{378,186}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{392,224}}</string>
                <key>offset</key>
                <string>{-19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,109},{392,224}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,645},{366,224}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,103},{366,224}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{368,230}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,88},{368,230}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{394,260}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{394,260}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,645},{374,254}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,31},{374,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,369},{368,242}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,33},{368,242}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,738},{344,234}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,54},{344,234}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,232}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,62},{398,232}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,261},{382,202}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,86},{382,202}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>wsparticle_xintianbing6_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,738},{270,150}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,135},{270,150}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xintianbing6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25652a361b4e93f9ea0b9c3cef76e52d$</string>
            <key>textureFileName</key>
            <string>wsparticle_xintianbing6.png</string>
        </dict>
    </dict>
</plist>
