<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbbinglong_up1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,676},{522,264}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,120},{522,264}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_up1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,334},{400,264}}</string>
                <key>offset</key>
                <string>{-11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,120},{400,264}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_up1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{362,274}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,110},{362,274}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_up1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,324}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{548,324}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_up1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{542,346}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{542,346}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_up1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{452,330}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,54},{452,330}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbbinglong_up1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:054a97f6d1d56c83d4ea7c383659ba8c$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbbinglong_up1.png</string>
        </dict>
    </dict>
</plist>
