<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_plane_main_diaochan_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,184},{108,180}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{108,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{102,182}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{102,182}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{100,180}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{100,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,184},{106,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{106,176}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,174}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{114,174}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,368},{122,174}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{122,174}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{124,180}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{124,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{126,184}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{126,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,186}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{130,186}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{130,184}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,186},{124,180}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{124,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>img_plane_main_diaochan_04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,366},{116,178}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{116,178}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_diaochan_stand3.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d93495bf78db7491a39a34246d1ba879:ad0865c6f00fb31985b835e6755af49e:32704210c110134d0e193eb37a451116$</string>
            <key>textureFileName</key>
            <string>wsparticle_diaochan_stand3.png</string>
        </dict>
    </dict>
</plist>
