<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjxsm005_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{56,20}}</string>
                <key>offset</key>
                <string>{-61,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,130},{56,20}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,214},{124,38}}</string>
                <key>offset</key>
                <string>{-25,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,112},{124,38}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,149},{176,90}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{176,90}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{172,146}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{172,146}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,148}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{108,134}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{108,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{102,100}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{102,100}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,147},{86,66}}</string>
                <key>offset</key>
                <string>{28,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{86,66}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wsparticle_jjxsm005_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,135},{18,44}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,22},{18,44}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjxsm005.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a14cba5ba57c181ed043cd2086bc3b$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjxsm005.png</string>
        </dict>
    </dict>
</plist>
