<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_laohuji_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,322},{112,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{112,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,163},{112,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,326},{112,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{110,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{110,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,159},{110,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{110,158}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{108,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{108,162}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,331},{120,58}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,232},{120,98}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,111},{120,138}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{120,138}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{120,162}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{118,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{118,162}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{110,142}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,28},{110,142}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,390},{110,106}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,63},{110,106}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
            <key>wsparticle_laohuji_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,390},{108,66}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,100},{108,66}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_laohuji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e28744474220115947eac431b9113b$</string>
            <key>textureFileName</key>
            <string>wsparticle_laohuji.png</string>
        </dict>
    </dict>
</plist>
