<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbhoutao1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,255},{230,254}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{230,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_zbhoutao1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{242,254}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_zbhoutao1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{276,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{276,250}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>wsparticle_zbhoutao1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,251},{252,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{252,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_zbhoutao1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,251},{246,252}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{246,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_zbhoutao1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,502}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{192,502}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>wsparticle_zbhoutao1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,0},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>wsparticle_zbhoutao1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,255},{88,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,132}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>wsparticle_zbhoutao1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{88,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,130}}</string>
                <key>sourceSize</key>
                <string>{88,130}</string>
            </dict>
            <key>wsparticle_zbhoutao1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{88,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,132}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbhoutao1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9647dca17f336269019c000ce56b62c$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbhoutao1.png</string>
        </dict>
    </dict>
</plist>
