<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jiutianxuannv3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,687},{112,170}}</string>
                <key>offset</key>
                <string>{0,-363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,758},{112,170}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,522},{100,198}}</string>
                <key>offset</key>
                <string>{0,-380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,761},{100,198}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,506},{90,206}}</string>
                <key>offset</key>
                <string>{0,-373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,750},{90,206}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,570},{78,198}}</string>
                <key>offset</key>
                <string>{0,-374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,755},{78,198}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,337},{64,184}}</string>
                <key>offset</key>
                <string>{0,-377}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,765},{64,184}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,631},{50,172}}</string>
                <key>offset</key>
                <string>{0,-379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,773},{50,172}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,721},{30,166}}</string>
                <key>offset</key>
                <string>{0,-382}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,779},{30,166}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,769},{30,168}}</string>
                <key>offset</key>
                <string>{0,-384}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,780},{30,168}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,800},{30,166}}</string>
                <key>offset</key>
                <string>{0,-387}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,784},{30,166}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,880},{30,166}}</string>
                <key>offset</key>
                <string>{0,-390}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,787},{30,166}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,569},{64,224}}</string>
                <key>offset</key>
                <string>{0,-363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,731},{64,224}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{64,336}}</string>
                <key>offset</key>
                <string>{0,-238}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,550},{64,336}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{66,454}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,368},{66,454}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{68,568}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,187},{68,568}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{68,686}}</string>
                <key>offset</key>
                <string>{0,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,6},{68,686}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{68,630}}</string>
                <key>offset</key>
                <string>{0,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{68,630}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{68,638}}</string>
                <key>offset</key>
                <string>{0,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{68,638}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,257},{66,312}}</string>
                <key>offset</key>
                <string>{0,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{66,312}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,455},{66,124}}</string>
                <key>offset</key>
                <string>{0,418}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{66,124}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{142,250}}</string>
                <key>offset</key>
                <string>{0,-355}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,710},{142,250}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{136,256}}</string>
                <key>offset</key>
                <string>{1,-352}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,704},{136,256}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,251},{134,254}}</string>
                <key>offset</key>
                <string>{-1,-353}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,706},{134,254}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,257},{128,258}}</string>
                <key>offset</key>
                <string>{0,-351}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,702},{128,258}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,516},{116,252}}</string>
                <key>offset</key>
                <string>{1,-354}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,708},{116,252}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{104,244}}</string>
                <key>offset</key>
                <string>{1,-358}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,716},{104,244}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,561},{60,224}}</string>
                <key>offset</key>
                <string>{1,-365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,733},{60,224}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,245},{60,224}}</string>
                <key>offset</key>
                <string>{1,-367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,735},{60,224}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,580},{60,222}}</string>
                <key>offset</key>
                <string>{1,-369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,738},{60,222}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,911},{60,220}}</string>
                <key>offset</key>
                <string>{1,-370}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,740},{60,220}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,419},{74,274}}</string>
                <key>offset</key>
                <string>{0,-343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,686},{74,274}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{74,418}}</string>
                <key>offset</key>
                <string>{0,-235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,506},{74,418}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{74,560}}</string>
                <key>offset</key>
                <string>{0,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,324},{74,560}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{72,706}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,142},{72,706}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,806}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{72,806}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,807},{72,776}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{72,776}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{70,648}}</string>
                <key>offset</key>
                <string>{0,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{70,648}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,570},{70,322}}</string>
                <key>offset</key>
                <string>{0,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{70,322}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
            <key>wsparticle_jiutianxuannv3_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,880},{68,136}}</string>
                <key>offset</key>
                <string>{0,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{68,136}}</string>
                <key>sourceSize</key>
                <string>{200,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiutianxuannv3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d339391b42c373f250edd9d727e709b8$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiutianxuannv3.png</string>
        </dict>
    </dict>
</plist>
