<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitao12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,173},{148,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{148,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{172,172}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{172,172}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,253},{192,200}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{192,200}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,261},{204,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{204,210}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,263},{214,222}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{214,222}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,263},{222,238}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{222,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{242,252}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{242,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{250,260}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{250,260}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>wsparticle_jitao12_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,262}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{260,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitao12.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcef97967078c4467e8c1f9156ab7e6c$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitao12.png</string>
        </dict>
    </dict>
</plist>
