<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjwns_ht1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{28,34}}</string>
                <key>offset</key>
                <string>{0,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,271},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{50,58}}</string>
                <key>offset</key>
                <string>{2,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,261},{50,58}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,406},{74,62}}</string>
                <key>offset</key>
                <string>{2,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,259},{74,62}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,102},{96,98}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,235},{96,98}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{100,166}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,179},{100,166}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,412},{100,222}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,117},{100,222}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,200},{102,270}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,66},{102,270}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,302}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{106,302}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,302},{110,300}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,43},{110,300}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,302},{82,104}}</string>
                <key>offset</key>
                <string>{8,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{82,104}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,200},{102,106}}</string>
                <key>offset</key>
                <string>{10,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{102,106}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{102,102}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{102,102}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{104,108}}</string>
                <key>offset</key>
                <string>{4,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,412},{100,110}}</string>
                <key>offset</key>
                <string>{10,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{100,110}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
            <key>wsparticle_jjwns_ht1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,104},{96,108}}</string>
                <key>offset</key>
                <string>{5,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{96,108}}</string>
                <key>sourceSize</key>
                <string>{128,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjwns_ht1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7529a18da5c80c1a9666ac1f099dc2e8$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjwns_ht1.png</string>
        </dict>
    </dict>
</plist>
