<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wslparticle_jiabailie_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,117},{50,94}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{50,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,117},{52,108}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{56,116}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,121},{60,118}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{60,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{70,120}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{86,120}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{86,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{100,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{100,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{102,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,121},{88,120}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{88,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,121},{66,120}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{66,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{56,116}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{56,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wslparticle_jiabailie_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{44,68}}</string>
                <key>offset</key>
                <string>{38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jiabailie01.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2ff8c6106cb6296c55ca0767e370ac$</string>
            <key>textureFileName</key>
            <string>wsparticle_jiabailie01.png</string>
        </dict>
    </dict>
</plist>
