<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lxfjinjie10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{62,35}}</string>
                <key>offset</key>
                <string>{-13,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,190},{62,35}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,389},{78,69}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{78,69}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,389},{84,105}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{84,105}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,310},{78,125}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,55},{78,125}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,310},{142,115}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{142,115}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{224,159}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{224,159}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,151}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{230,151}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{224,151}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{224,151}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,160},{218,149}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{218,149}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
            <key>wsparticle_lxfjinjie10_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{224,159}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{224,159}}</string>
                <key>sourceSize</key>
                <string>{250,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lxfjinjie10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c22441a5823dbb9392e7d729dfa19763$</string>
            <key>textureFileName</key>
            <string>wsparticle_lxfjinjie10.png</string>
        </dict>
    </dict>
</plist>
