<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xingchentao2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,236},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{234,234}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,300}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{350,300}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,236},{346,300}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{346,300}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{396,288}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{396,288}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{396,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{396,234}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,538},{388,240}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{388,240}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,780},{258,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,85},{258,228}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{266,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,87},{266,226}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{260,230}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{260,230}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,780},{254,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,82},{254,228}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,780},{246,220}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{246,220}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wsparticle_xingchentao2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,472},{160,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,108},{160,174}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xingchentao2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f34ade86f98e91699fd740cda20df721$</string>
            <key>textureFileName</key>
            <string>wsparticle_xingchentao2.png</string>
        </dict>
    </dict>
</plist>
