<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1509_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,874},{65,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,119}}</string>
                <key>sourceSize</key>
                <string>{65,119}</string>
            </dict>
            <key>wsparticle_j1509_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,763},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>wsparticle_j1509_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>wsparticle_j1509_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,763},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>wsparticle_j1509_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,978},{17,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,66}}</string>
                <key>sourceSize</key>
                <string>{17,66}</string>
            </dict>
            <key>wsparticle_j1509_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,940},{37,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,66}}</string>
                <key>sourceSize</key>
                <string>{37,66}</string>
            </dict>
            <key>wsparticle_j1509_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,940},{90,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>wsparticle_j1509_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{265,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,503}}</string>
                <key>sourceSize</key>
                <string>{265,503}</string>
            </dict>
            <key>wsparticle_j1509_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,873}}</string>
                <key>sourceSize</key>
                <string>{244,873}</string>
            </dict>
            <key>wsparticle_j1509_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,504},{258,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{258,235}}</string>
                <key>sourceSize</key>
                <string>{276,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1509.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7000594fa9f7db2cf61449dd9d7ceb58$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1509.png</string>
        </dict>
    </dict>
</plist>
