<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjwns_sd2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{94,242}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{94,242}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{96,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{96,244}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,246}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{94,246}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{92,246}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{92,246}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,246},{90,242}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{90,242}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{92,236}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{92,236}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,240},{92,232}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{92,232}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{92,236}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{92,236}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{94,242}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{94,242}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wsparticle_jjwns_sd2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{96,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{96,244}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjwns_sd2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e765f6e5307d2f55484418e928b597f3$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjwns_sd2.png</string>
        </dict>
    </dict>
</plist>
