<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_wenzi01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>wsparticle_wenzi01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,48},{101,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,44}}</string>
                <key>sourceSize</key>
                <string>{101,44}</string>
            </dict>
            <key>wsparticle_wenzi01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>wsparticle_wenzi01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,98},{147,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,45}}</string>
                <key>sourceSize</key>
                <string>{147,45}</string>
            </dict>
            <key>wsparticle_wenzi01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,62}}</string>
                <key>sourceSize</key>
                <string>{194,62}</string>
            </dict>
            <key>wsparticle_wenzi01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{313,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,94}}</string>
                <key>sourceSize</key>
                <string>{313,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_wenzi01.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c44f7f081f027eda98be59ca45437b2$</string>
            <key>textureFileName</key>
            <string>wsparticle_wenzi01.png</string>
        </dict>
    </dict>
</plist>
