<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu20_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,332},{67,63}}</string>
                <key>offset</key>
                <string>{1,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,157},{67,63}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{89,93}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,128},{89,93}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,192},{101,139}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,82},{101,139}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{103,191}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{103,191}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,201}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{115,201}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{97,203}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,203}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,332},{89,147}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{89,147}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
            <key>wsparticle_dalvbu20_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{23,91}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{23,91}}</string>
                <key>sourceSize</key>
                <string>{115,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu20_low.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdaa2992966dd040a2d22222cba69b33$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu20_low.png</string>
        </dict>
    </dict>
</plist>
