<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dasheng011_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,259},{200,320}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,30},{200,320}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,578},{190,260}}</string>
                <key>offset</key>
                <string>{-56,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,88},{190,260}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,646},{282,212}}</string>
                <key>offset</key>
                <string>{-69,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{282,212}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{286,254}}</string>
                <key>offset</key>
                <string>{-67,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{286,254}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{376,258}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{376,258}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{360,258}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,87},{360,258}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{254,250}}</string>
                <key>offset</key>
                <string>{56,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,94},{254,250}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,580},{222,256}}</string>
                <key>offset</key>
                <string>{57,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,87},{222,256}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,325},{196,320}}</string>
                <key>offset</key>
                <string>{48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,21},{196,320}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,259},{198,318}}</string>
                <key>offset</key>
                <string>{47,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,24},{198,318}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
            <key>wsparticle_dasheng011_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{258,324}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,24},{258,324}}</string>
                <key>sourceSize</key>
                <string>{420,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dasheng011.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b642fca9ba4b4e6988aecf3e40b8bcfe$</string>
            <key>textureFileName</key>
            <string>wsparticle_dasheng011.png</string>
        </dict>
    </dict>
</plist>
