<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>benboba_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,386},{122,94}}</string>
                <key>offset</key>
                <string>{6,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,263},{122,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{126,134}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,223},{126,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{112,218}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,69},{112,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{110,212}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,63},{110,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{120,208}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,46},{120,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,196},{114,188}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,42},{114,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,168},{100,154}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,43},{100,154}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,386},{98,108}}</string>
                <key>offset</key>
                <string>{-2,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,42},{98,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{130,164}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,193},{130,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{118,192}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,165},{118,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,212},{128,204}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,142},{128,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{124,212}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,117},{124,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{122,214}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{122,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,218},{120,214}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,95},{120,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,222},{118,216}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,86},{118,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>benboba_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,218}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,77},{116,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_benboba.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c98ba9c0cc30842ab73af9163d43d84:189302393f38be162c4bd7646f789710:88e4bf37b46a2a398ffb7d278ba03745$</string>
            <key>textureFileName</key>
            <string>wsparticle_benboba.png</string>
        </dict>
    </dict>
</plist>
