<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbbinglong_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,668},{508,260}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,124},{508,260}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,325},{388,260}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,124},{388,260}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{356,270}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,114},{356,270}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{544,322}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,62},{544,322}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{532,344}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{532,344}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>wsparticle_zbbinglong_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,0},{444,324}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{444,324}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbbinglong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce62421280f76018faf67c2896b0a98$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbbinglong.png</string>
        </dict>
    </dict>
</plist>
