<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1514_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{71,269}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,78},{71,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{71,269}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,78},{71,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{69,271}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,77},{69,271}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{69,271}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,77},{69,271}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{69,269}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,79},{69,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{71,269}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,79},{71,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{71,267}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,80},{71,267}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{71,269}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,79},{71,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
            <key>wsparticle_j1514_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{71,269}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,78},{71,269}}</string>
                <key>sourceSize</key>
                <string>{109,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1514.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a849c7e5678eb31300e1b98af2b4081$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1514.png</string>
        </dict>
    </dict>
</plist>
