<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjxsm006_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,101},{70,16}}</string>
                <key>offset</key>
                <string>{-109,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,112},{70,16}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,176},{160,22}}</string>
                <key>offset</key>
                <string>{-63,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,107},{160,22}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,123},{240,52}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,76},{240,52}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{264,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{264,124}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{258,126}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{258,126}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{166,122}}</string>
                <key>offset</key>
                <string>{51,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{76,100}}</string>
                <key>offset</key>
                <string>{95,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,2},{76,100}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,176},{68,58}}</string>
                <key>offset</key>
                <string>{97,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,2},{68,58}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
            <key>wsparticle_jjxsm006_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,199},{44,38}}</string>
                <key>offset</key>
                <string>{90,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,20},{44,38}}</string>
                <key>sourceSize</key>
                <string>{290,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjxsm006.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a469a962706f3d72c8d2e515ff56449b$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjxsm006.png</string>
        </dict>
    </dict>
</plist>
