<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dasheng001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{364,276}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{364,276}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{364,270}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{364,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{366,268}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{366,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{362,272}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{362,272}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,365},{362,274}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{362,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,542},{362,270}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{362,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{366,270}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{366,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>wsparticle_dasheng001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,269},{364,272}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{364,272}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dasheng001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7bcfd170a95b1cd41f271739981bef$</string>
            <key>textureFileName</key>
            <string>wsparticle_dasheng001.png</string>
        </dict>
    </dict>
</plist>
