<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_diaochan_jineng3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,182}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,182}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{128,180}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,180}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{120,164}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{120,164}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,186},{120,178}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{120,178}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{114,176}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,176}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,168},{114,174}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{114,174}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{124,174}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{124,174}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
            <key>wsparticle_diaochan_jineng3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{130,178}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,178}}</string>
                <key>sourceSize</key>
                <string>{140,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_diaochan_jineng3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f762c92331d4bf6d8464df022ac3bb:c196112b9ff827eaec4acc04d7881c7b:1f60eee7042abf120c95093ad6805728$</string>
            <key>textureFileName</key>
            <string>wsparticle_diaochan_jineng3.png</string>
        </dict>
    </dict>
</plist>
