<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitao14_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{160,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,146}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{160,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{160,146}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{158,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{158,146}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{166,146}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,147},{166,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{166,138}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{166,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{166,136}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,256},{166,110}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,389},{102,110}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,54},{102,110}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,367},{110,108}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{110,108}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,389},{128,106}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{128,106}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,286},{150,102}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,57},{150,102}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>wsparticle_jitao14_low_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,137},{164,118}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{164,118}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitao14_low.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0feab46a9be6ea296d840031f9230980$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitao14_low.png</string>
        </dict>
    </dict>
</plist>
