<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xintianbing1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{148,96}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{148,96}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,92},{184,96}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{184,96}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{204,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{204,88}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,84}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{210,84}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{180,88}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{180,88}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,358},{84,88}}</string>
                <key>offset</key>
                <string>{58,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,22},{84,88}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,358},{92,88}}</string>
                <key>offset</key>
                <string>{52,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,174},{112,70}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,32},{112,70}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,272},{156,84}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{156,84}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,190},{180,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{180,80}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{192,78}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{192,78}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{168,78}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{168,78}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,92},{128,80}}</string>
                <key>offset</key>
                <string>{-58,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{128,80}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,88}}</string>
                <key>offset</key>
                <string>{-66,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{90,88}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>wsparticle_xintianbing1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,246},{104,94}}</string>
                <key>offset</key>
                <string>{-57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{104,94}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xintianbing1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2518e97a0e690d7689b006e033fd779$</string>
            <key>textureFileName</key>
            <string>wsparticle_xintianbing1.png</string>
        </dict>
    </dict>
</plist>
