<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjielow1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,310},{158,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{158,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{156,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{156,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{156,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{160,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{160,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,308},{158,152}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{158,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,157},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,155},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjielow1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b60053005ffda7cd06b83e13a211526$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjielow1.png</string>
        </dict>
    </dict>
</plist>
