<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,153}}</string>
                <key>sourceSize</key>
                <string>{181,153}</string>
            </dict>
            <key>ball_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{176,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,156}}</string>
                <key>sourceSize</key>
                <string>{176,156}</string>
            </dict>
            <key>ball_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{171,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,156}}</string>
                <key>sourceSize</key>
                <string>{171,156}</string>
            </dict>
            <key>ball_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{179,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,152}}</string>
                <key>sourceSize</key>
                <string>{179,152}</string>
            </dict>
            <key>ball_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,156},{177,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,147}}</string>
                <key>sourceSize</key>
                <string>{177,147}</string>
            </dict>
            <key>ball_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,315},{169,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,150}}</string>
                <key>sourceSize</key>
                <string>{169,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_heixiong05.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d0de50643d891a771bf95232a9ab9ac$</string>
            <key>textureFileName</key>
            <string>wsparticle_heixiong05.png</string>
        </dict>
    </dict>
</plist>
