<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xinyuanzhengzi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,202},{148,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,96},{190,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,149},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,149},{148,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>wsparticle_xinyuanzhengzi_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,53},{256,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,42}}</string>
                <key>sourceSize</key>
                <string>{256,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xinyuanzhengzi.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046a81f8e803b5cf560ea2afe47e75eb$</string>
            <key>textureFileName</key>
            <string>wsparticle_xinyuanzhengzi.png</string>
        </dict>
    </dict>
</plist>
