<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_guanyu3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{225,141}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,91},{225,141}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,142},{221,141}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{221,141}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{253,183}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,91},{253,183}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,284},{243,179}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,93},{243,179}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,554},{247,177}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,101},{247,177}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,464},{243,151}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,127},{243,151}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{233,213}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,65},{233,213}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,616},{247,203}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,74},{247,203}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{235,201}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{235,201}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,820},{241,191}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{241,191}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,486},{253,181}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{253,181}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,182},{259,187}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,61},{259,187}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{263,181}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{263,181}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{269,143}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,100},{269,143}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{259,131}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,115},{259,131}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,356},{255,129}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,129},{255,129}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,820},{233,177}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,90},{233,177}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,370},{253,183}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,89},{253,183}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{261,193}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{261,193}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,820},{215,173}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,98},{215,173}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,194},{255,161}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,100},{255,161}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>wsparticle_guanyu3_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{263,143}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,92},{263,143}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_guanyu3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11d460fa221a83209578866389ed2fae$</string>
            <key>textureFileName</key>
            <string>wsparticle_guanyu3.png</string>
        </dict>
    </dict>
</plist>
