<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_huanghuoqiuchu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{115,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,204}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
            <key>wsparticle_huanghuoqiuchu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,205},{115,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{115,198}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
            <key>wsparticle_huanghuoqiuchu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{115,196}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{115,196}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
            <key>wsparticle_huanghuoqiuchu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{115,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,204}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
            <key>wsparticle_huanghuoqiuchu_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,206}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
            <key>wsparticle_huanghuoqiuchu_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,205},{109,200}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{109,200}}</string>
                <key>sourceSize</key>
                <string>{115,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_huanghuoqiuchu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc390514623c457208b6c1f46c3907c6$</string>
            <key>textureFileName</key>
            <string>wsparticle_huanghuoqiuchu.png</string>
        </dict>
    </dict>
</plist>
