<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_poseidon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,0},{56,190}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{56,190}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,344}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{102,344}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,333},{100,330}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{100,330}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,0},{94,332}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{94,332}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,678},{132,332}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{132,332}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,339},{102,332}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{102,332}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{90,180}}</string>
                <key>offset</key>
                <string>{-1,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{90,180}}</string>
                <key>sourceSize</key>
                <string>{150,360}</string>
            </dict>
            <key>wsparticle_poseidon_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{332,338}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{332,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wsparticle_poseidon_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,339},{332,338}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{332,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wsparticle_poseidon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{332,338}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{332,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wsparticle_poseidon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,684},{332,338}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{332,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wsparticle_poseidon_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{332,338}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{332,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wsparticle_poseidon_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{334,338}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{334,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_poseidon1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d1477020251fba0f3322606b55a5027$</string>
            <key>textureFileName</key>
            <string>wsparticle_poseidon1.png</string>
        </dict>
    </dict>
</plist>
