<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjielow2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{60,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,478}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{60,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,478}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{60,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,478}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{60,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,478}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{60,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,480}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{60,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,480}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,480}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
            <key>wsparticle_lieyingjinjielow2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{60,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,480}}</string>
                <key>sourceSize</key>
                <string>{64,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjielow2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d13b5e32f8b216ebb9eaa772fc69ce5$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjielow2.png</string>
        </dict>
    </dict>
</plist>
