<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_ranshaodan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,873},{150,140}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,126},{150,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,630},{278,234}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,79},{278,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,331},{322,282}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,57},{322,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,364}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{368,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{344,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{344,344}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{330,308}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{330,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,345},{284,286}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,57},{284,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{252,284}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{252,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{254,274}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,62},{254,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,654},{252,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,74},{252,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,654},{244,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,85},{244,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_ranshaodan_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,873},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,138},{130,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_ranshaodan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91930028a7def7cf64c5287b597f9ba9$</string>
            <key>textureFileName</key>
            <string>wsparticle_ranshaodan.png</string>
        </dict>
    </dict>
</plist>
