<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dasheng003_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,798},{130,168}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{130,168}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,585},{130,166}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,752},{130,164}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{130,164}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,418},{132,166}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{132,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,418},{132,176}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{132,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,615},{134,194}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{134,194}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,209},{138,208}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{138,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,207},{142,210}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{142,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{144,208}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{144,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,208}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{144,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{144,206}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{144,206}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{142,204}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{142,204}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{138,200}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{138,200}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{134,188}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>wsparticle_dasheng003_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,615},{130,182}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{130,182}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dasheng003.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d08e153e6a66f257247552198a79930$</string>
            <key>textureFileName</key>
            <string>wsparticle_dasheng003.png</string>
        </dict>
    </dict>
</plist>
