<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zzmiwu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,396},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,297},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,396},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,297},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,198},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu006.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,198},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,99},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu011.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,99},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu014.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_zzmiwu015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zzmiwu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b67d241e62f40acbbd03f3e05a3db8a$</string>
            <key>textureFileName</key>
            <string>wsparticle_zzmiwu.png</string>
        </dict>
    </dict>
</plist>
