<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1508_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,176},{90,72}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{90,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,97},{96,78}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{96,78}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,103},{100,82}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{100,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{102,88}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,44},{102,88}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,105},{102,92}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{102,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,0},{96,96}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{96,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{98,98}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{98,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{104,98}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{104,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,109},{106,102}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,29},{106,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,0},{108,104}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{108,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,113},{110,108}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{112,112}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{112,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,127},{118,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{118,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{122,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{122,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,135},{128,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{128,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,135},{132,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{132,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{134,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{134,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,120}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{134,92}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,0},{126,84}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>wsparticle_j1508_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,216},{78,36}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{78,36}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1508.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cdb7a83cbf25b81700f95f8fd7ef778$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1508.png</string>
        </dict>
    </dict>
</plist>
