<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1501_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,314},{519,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,119}}</string>
                <key>sourceSize</key>
                <string>{519,119}</string>
            </dict>
            <key>wsparticle_j1501_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,0},{252,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,253}}</string>
                <key>sourceSize</key>
                <string>{252,253}</string>
            </dict>
            <key>wsparticle_j1501_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,313}}</string>
                <key>sourceSize</key>
                <string>{640,313}</string>
            </dict>
            <key>wsparticle_j1501_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{31,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,306}}</string>
                <key>sourceSize</key>
                <string>{31,306}</string>
            </dict>
            <key>wsparticle_j1501_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{411,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,193}}</string>
                <key>sourceSize</key>
                <string>{411,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1501.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6adbcc484c12764fde41cdb5f9900771$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1501.png</string>
        </dict>
    </dict>
</plist>
