<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wspartifcle_sidaig01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,210},{20,22}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,210},{42,58}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,64},{42,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{76,90}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{76,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{90,102}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{90,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,108}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,112},{86,96}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{86,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{96,36}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{96,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wspartifcle_sidaig01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{10,16}}</string>
                <key>offset</key>
                <string>{-33,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{10,16}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_sidaig01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab16b0c46566fed75809975fe1519a89$</string>
            <key>textureFileName</key>
            <string>wsparticle_sidaig01.png</string>
        </dict>
    </dict>
</plist>
