<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbyangtao_up1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{116,126}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_zbyangtao_up1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{124,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_zbyangtao_up1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,127},{106,124}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{106,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wsparticle_zbyangtao_up1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbyangtao_up1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c79954e2fb7608b48b03cdd04d45e40a$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbyangtao_up1.png</string>
        </dict>
    </dict>
</plist>
