<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_vf0_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,234},{97,233}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,429},{97,207}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{97,207}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,698},{97,219}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{97,219}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{97,227}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{97,227}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,468},{97,229}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{97,229}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,232},{97,227}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{97,227}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,721},{97,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,229}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,0},{97,231}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,231}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,487},{97,233}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{97,233}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,783},{97,235}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,235}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,253},{97,233}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,241}</string>
            </dict>
            <key>wsparticle_vf0_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,893},{76,110}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,178},{76,110}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,893},{78,106}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,175},{78,106}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,398},{84,158}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,167},{84,158}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,677},{98,208}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{98,208}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,228},{96,200}}</string>
                <key>offset</key>
                <string>{12,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{96,200}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,201},{214,196}}</string>
                <key>offset</key>
                <string>{-40,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,152},{214,196}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,0},{280,200}}</string>
                <key>offset</key>
                <string>{-45,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{280,200}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,460},{74,216}}</string>
                <key>offset</key>
                <string>{-11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,118},{74,216}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{278,256}}</string>
                <key>offset</key>
                <string>{46,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,74},{278,256}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{242,314}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,14},{242,314}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,320}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{188,320}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{154,288}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,15},{154,288}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,542},{134,240}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,50},{134,240}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,289},{108,252}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,54},{108,252}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{104,252}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,77},{104,252}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
            <key>wsparticle_vf0_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,783},{102,234}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,107},{102,234}}</string>
                <key>sourceSize</key>
                <string>{370,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_vf0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262ec18d27fc73e31fd2b416265fb83e$</string>
            <key>textureFileName</key>
            <string>wsparticle_vf0.png</string>
        </dict>
    </dict>
</plist>
