<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_suipianliuguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{142,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{142,56}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{142,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{142,56}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{110,58}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{110,58}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,181},{106,58}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{106,58}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,54}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{144,54}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{142,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{142,56}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,120},{106,60}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{106,60}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>wsparticle_suipianliuguang_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,59},{108,60}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{108,60}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_suipianliuguang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c234887461c89185ac28402ed4947$</string>
            <key>textureFileName</key>
            <string>wsparticle_suipianliuguang.png</string>
        </dict>
    </dict>
</plist>
