<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbddwy001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{146,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{146,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{138,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{138,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,137},{132,118}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{132,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{126,122}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{126,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy005.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,137},{114,116}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{114,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy006.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,151},{110,92}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{110,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>wsparticle_zbddwy007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,240}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{56,240}}</string>
                <key>sourceSize</key>
                <string>{100,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbddwy.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2f5a35855df563ec0dd1cdfd77fbd49$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbddwy.png</string>
        </dict>
    </dict>
</plist>
