<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_guanyu8_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_guanyu8_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_guanyu8_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_guanyu8_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_guanyu8_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>wsparticle_guanyu8_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,512}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{82,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_guanyu8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:886320c06369c6722fdb7ca06b4f3a89$</string>
            <key>textureFileName</key>
            <string>wsparticle_guanyu8.png</string>
        </dict>
    </dict>
</plist>
