<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjsdsbl001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{268,158}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{268,158}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{278,146}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{278,146}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,777},{260,150}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{260,150}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{274,152}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{274,152}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{274,162}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{274,162}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,154}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{286,154}}</string>
                <key>sourceSize</key>
                <string>{340,200}</string>
            </dict>
            <key>wsparticle_jjsdsbl007.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,414},{92,206}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{92,206}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>wsparticle_jjsdsbl008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,207},{94,206}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,206}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>wsparticle_jjsdsbl009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{94,206}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,206}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>wsparticle_jjsdsbl010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,207},{92,208}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,208}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>wsparticle_jjsdsbl011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{90,206}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{90,206}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>wsparticle_jjsdsbl012.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{94,206}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{94,206}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjsdsbl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bdfa5d741e19f172ea475dfd1f2c5f5$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjsdsbl.png</string>
        </dict>
    </dict>
</plist>
