<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombassault1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,73}}</string>
                <key>offset</key>
                <string>{-75,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,73}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,166},{82,77}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{82,77}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,89},{76,75}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{76,75}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{92,85}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{92,85}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,87}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,87}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>bombassault1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,77},{50,87}}</string>
                <key>offset</key>
                <string>{79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,0},{50,87}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_bombassaultone.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:561bd9852b01ad4279736de52bed681a$</string>
            <key>textureFileName</key>
            <string>wsparticle_bombassaultone.png</string>
        </dict>
    </dict>
</plist>
