<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu4_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{111,65}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,60},{111,65}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,98},{107,71}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{107,71}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{107,91}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{107,91}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,194},{105,89}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{105,89}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,376},{95,95}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{95,95}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,66},{109,89}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{109,89}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,97}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{115,97}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{111,97}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{111,97}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{111,101}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{111,101}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{97,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{97,109}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,170},{91,103}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{91,103}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,156},{105,99}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{105,99}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{101,91}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{101,91}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,372},{93,87}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{93,87}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{95,87}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{95,87}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,256},{103,83}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{103,83}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{103,95}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{103,95}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{95,99}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{95,99}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,362},{95,85}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{95,85}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,262},{99,101}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{99,101}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,270},{87,101}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{87,101}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,340},{93,99}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{93,99}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,98},{83,65}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{83,65}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>wsparticle_dalvbu4_low_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,182},{87,81}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{87,81}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu4_low.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb5b33033654dfaf406e57274ce4838a$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu4_low.png</string>
        </dict>
    </dict>
</plist>
