<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_qrjt_pd1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,419},{120,65}}</string>
                <key>offset</key>
                <string>{-180,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{120,65}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,900},{184,83}}</string>
                <key>offset</key>
                <string>{-148,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{184,83}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{234,101}}</string>
                <key>offset</key>
                <string>{-123,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{234,101}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,550},{290,123}}</string>
                <key>offset</key>
                <string>{-95,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{290,123}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{360,143}}</string>
                <key>offset</key>
                <string>{-60,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{360,143}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{468,145}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{468,145}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{480,141}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{480,133}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{480,133}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,419},{434,131}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,19},{434,131}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,550},{350,127}}</string>
                <key>offset</key>
                <string>{65,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,20},{350,127}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
            <key>wsparticle_qrjt_pd1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,550},{280,97}}</string>
                <key>offset</key>
                <string>{100,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,23},{280,97}}</string>
                <key>sourceSize</key>
                <string>{480,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_qrjt_pd1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa70aeb3a380a75ff4a37b9bf565198$</string>
            <key>textureFileName</key>
            <string>wsparticle_qrjt_pd1.png</string>
        </dict>
    </dict>
</plist>
