<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2tianbing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{136,58}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,52},{136,58}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{134,82}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{134,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{82,110}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,31},{82,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{122,94}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,37},{122,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,402},{106,104}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{106,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,266},{50,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,32},{50,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{96,112}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{96,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{132,90}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{132,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,64}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{138,64}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{136,76}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{136,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,100},{114,98}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{114,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2tianbing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,200},{64,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{64,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_tianbing2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6a1e174f864e473307c83c205acf2d5$</string>
            <key>textureFileName</key>
            <string>wsparticle_tianbing2.png</string>
        </dict>
    </dict>
</plist>
