<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_huoqiubianshen_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,196},{70,78}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,86},{70,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,275},{64,104}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,58},{64,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,196},{74,138}}</string>
                <key>offset</key>
                <string>{11,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{74,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,71},{94,124}}</string>
                <key>offset</key>
                <string>{18,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,7},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,88}}</string>
                <key>offset</key>
                <string>{35,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{116,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{112,70}}</string>
                <key>offset</key>
                <string>{47,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,28},{112,70}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{70,86}}</string>
                <key>offset</key>
                <string>{58,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,40},{70,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{82,112}}</string>
                <key>offset</key>
                <string>{36,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,50},{82,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{72,66}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,100},{72,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_huoqiubianshen_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,335},{48,40}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,124},{48,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_huoqiubianshen.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50512e5da3b575e3c7a23e7bfeb4d035$</string>
            <key>textureFileName</key>
            <string>wsparticle_huoqiubianshen.png</string>
        </dict>
    </dict>
</plist>
