<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dasheng002_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,225},{345,238}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{345,238}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{351,212}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{351,212}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{339,224}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{339,224}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{323,252}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{323,252}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,253},{299,256}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{299,256}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,767},{349,248}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{349,248}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,707},{351,236}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{351,236}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{343,228}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{343,228}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,464},{345,242}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{345,242}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{339,250}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{339,250}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,510},{315,256}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{315,256}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
            <key>wsparticle_dasheng002_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,707},{297,256}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,12},{297,256}}</string>
                <key>sourceSize</key>
                <string>{359,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dasheng002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:948c0987a6546dfc29a2f1b5830d8d3d$</string>
            <key>textureFileName</key>
            <string>wsparticle_dasheng002.png</string>
        </dict>
    </dict>
</plist>
