<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu24_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,569},{96,208}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{96,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{88,208}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{88,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,778},{88,206}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{88,206}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,569},{92,202}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{92,202}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,772},{96,194}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,569},{98,190}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{98,190}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,562},{100,188}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{100,188}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{104,184}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{104,184}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{110,180}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{110,180}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,381},{108,180}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{108,180}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,381},{108,182}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{108,182}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,380},{108,188}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{108,188}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,181},{108,198}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{108,198}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>wsparticle_dalvbu24_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{392,380}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{392,380}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu24.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dbfd69ac3c5dd663b38c150b90a479f$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu24.png</string>
        </dict>
    </dict>
</plist>
