<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_guanyu6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{46,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{46,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,114}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,115},{44,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{44,114}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,113},{46,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{44,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,0},{46,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,92},{44,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,47},{44,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,137},{42,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,112}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>wsparticle_guanyu6_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{44,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,114}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_guanyu6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b304bddb35f7efdc4bc17d7df0255179$</string>
            <key>textureFileName</key>
            <string>wsparticle_guanyu6.png</string>
        </dict>
    </dict>
</plist>
