<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_hulujingang10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,121},{69,90}}</string>
                <key>offset</key>
                <string>{0,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,302},{69,90}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,0},{79,120}}</string>
                <key>offset</key>
                <string>{-1,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,274},{79,120}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,414},{101,152}}</string>
                <key>offset</key>
                <string>{-2,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,241},{101,152}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,739},{123,186}}</string>
                <key>offset</key>
                <string>{-2,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,206},{123,186}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,516},{149,222}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,171},{149,222}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,414},{175,260}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,135},{175,260}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,315},{193,292}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,103},{193,292}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,347},{207,316}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{207,316}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{207,338}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,55},{207,338}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{213,346}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{213,346}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{211,322}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{211,322}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,664},{219,308}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{219,308}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{227,314}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{227,314}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{209,286}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{209,286}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,206},{207,278}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{207,278}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{205,282}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{205,282}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,590},{213,254}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{213,254}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,804},{205,242}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{205,242}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,805},{193,208}}</string>
                <key>offset</key>
                <string>{-4,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{193,208}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>wsparticle_hulujingang10_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,608},{169,196}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{169,196}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_hulujingang10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed3eebd05e491825945519bddf229196$</string>
            <key>textureFileName</key>
            <string>wsparticle_hulujingang10.png</string>
        </dict>
    </dict>
</plist>
