<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_nezha1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{354,122}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{354,122}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{338,130}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{338,130}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,284},{322,140}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{322,140}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,488},{314,146}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{314,146}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{222,152}}</string>
                <key>offset</key>
                <string>{61,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,6},{222,152}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,798},{226,148}}</string>
                <key>offset</key>
                <string>{57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,8},{226,148}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,788},{258,146}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,9},{258,146}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,544},{280,140}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{280,140}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,425},{316,118}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{316,118}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,385},{330,116}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{330,116}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,246},{344,110}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{344,110}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,135},{344,110}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{344,110}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,357},{334,130}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{334,130}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{302,140}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{302,140}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,635},{276,152}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{276,152}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,647},{262,150}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{262,150}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{296,144}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{296,144}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,141},{322,142}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{322,142}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{354,134}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{354,134}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
            <key>wsparticle_nezha1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{358,130}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{358,130}}</string>
                <key>sourceSize</key>
                <string>{370,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_nezha1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86879fde51b3c4acfc7528a073744b36$</string>
            <key>textureFileName</key>
            <string>wsparticle_nezha1.png</string>
        </dict>
    </dict>
</plist>
