<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xiaohuangji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,106},{52,22}}</string>
                <key>offset</key>
                <string>{-14,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{52,22}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{124,62}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,104},{124,62}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,63},{106,42}}</string>
                <key>offset</key>
                <string>{-11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,124},{106,42}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,106},{102,22}}</string>
                <key>offset</key>
                <string>{-9,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,144},{102,22}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,260},{94,44}}</string>
                <key>offset</key>
                <string>{-10,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{94,44}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,380},{128,64}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{128,64}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{130,82}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{130,82}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{130,96}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,129},{130,96}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,100}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{130,100}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{130,98}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,65},{130,98}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>wsparticle_xiaohuangji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{130,82}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,84},{130,82}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xiaohuangji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7992386882afbdcd9ed9ba719d940f0$</string>
            <key>textureFileName</key>
            <string>wsparticle_xiaohuangji.png</string>
        </dict>
    </dict>
</plist>
