<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitao09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{48,506}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{48,506}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{48,506}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{48,506}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{48,510}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{48,510}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{48,510}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{48,510}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,510}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{48,510}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{46,508}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{46,508}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{46,508}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{46,508}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{48,506}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{48,506}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{48,506}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{48,506}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
            <key>wsparticle_jitao09_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{48,504}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{48,504}}</string>
                <key>sourceSize</key>
                <string>{100,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitao09.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bb6943600077c94bdfe28449e3517e$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitao09.png</string>
        </dict>
    </dict>
</plist>
