<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_egg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,0},{134,148}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,143},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,215},{180,204}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,87},{180,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,215},{216,214}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{216,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{262,214}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,77},{262,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{282,234}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{282,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,250}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wsparticle_egg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{268,158}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{268,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_egg.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6ed10f3f08b4e5faa95ca2c6ac22b9e$</string>
            <key>textureFileName</key>
            <string>wsparticle_egg.png</string>
        </dict>
    </dict>
</plist>
