<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xintianbing3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,0},{184,168}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{184,168}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,169},{186,168}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,168}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,173},{194,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{194,170}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,172}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{190,172}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{188,172}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{188,172}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{180,170}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{180,170}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,169},{186,166}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,166}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,344},{190,168}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{190,168}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{188,168}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{188,168}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,338},{186,166}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{186,166}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,330},{186,164}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{186,164}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{190,164}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{190,164}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{194,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{194,166}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,165},{186,164}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{186,164}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>wsparticle_xintianbing3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,336},{188,164}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{188,164}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xintianbing3.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09e55bc62a2b716d39804643f734175$</string>
            <key>textureFileName</key>
            <string>wsparticle_xintianbing3.png</string>
        </dict>
    </dict>
</plist>
