<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_akl_dian1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,224}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{240,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_akl_dian1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{178,168}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{178,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_akl_dian1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{214,202}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{214,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_akl_dian1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,206},{182,178}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{182,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_akl_dian1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38fbdfef4f86438e7e8efc3945a4812$</string>
            <key>textureFileName</key>
            <string>wsparticle_akl_dian1.png</string>
        </dict>
    </dict>
</plist>
