<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjfhfire2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{166,172}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{166,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{162,174}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{162,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,340},{160,168}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{160,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,175},{166,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{166,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,177},{166,162}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{166,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,172}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{178,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{178,166}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{178,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,340},{164,172}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{164,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjfhfire2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{162,176}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{162,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjfhfire2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe5c19afa733ff245f8404290c125fb$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjfhfire2.png</string>
        </dict>
    </dict>
</plist>
