<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjie3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,199},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,199},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,398},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,199},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>wsparticle_lieyingjinjie3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjie3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4008226f60d332e626a964dea2ad36ff$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjie3.png</string>
        </dict>
    </dict>
</plist>
