<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xintianbing2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,301},{200,94}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{200,94}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{194,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{194,98}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,105},{202,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{202,98}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{228,94}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{228,94}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,95},{228,86}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{228,86}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,99},{218,94}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{206,102}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{206,102}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,204},{202,96}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{202,96}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,110}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{192,110}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{192,104}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{192,104}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,0},{216,94}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{216,94}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,194},{234,90}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{234,90}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{224,88}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{224,88}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{210,96}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{210,96}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>wsparticle_xintianbing2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{202,106}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{202,106}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xintianbing2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534a39495af49462234f29b50f43308a$</string>
            <key>textureFileName</key>
            <string>wsparticle_xintianbing2.png</string>
        </dict>
    </dict>
</plist>
