<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8ulchuxian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,176},{78,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{78,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,85},{94,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{94,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{96,84}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{90,88}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{90,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,85},{92,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{92,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,168},{92,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{92,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8ulchuxian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{94,92}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{94,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,89},{90,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{90,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,0},{94,84}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{94,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{98,84}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{98,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,85},{90,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{90,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,172},{92,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{92,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{94,88}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{94,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8yhchuxian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,92}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{96,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_8yuemazaichuxian.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0485aad76da011d764829e4a7f9b1536$</string>
            <key>textureFileName</key>
            <string>wsparticle_8yuemazaichuxian.png</string>
        </dict>
    </dict>
</plist>
