<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitao13_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,598},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,299},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,299},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,598},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,598},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,299},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,299},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,598},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,299},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,0},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
            <key>wsparticle_jitao13_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{198,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,298}}</string>
                <key>sourceSize</key>
                <string>{198,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitao13.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c576437d08cd33abd9bb1ba26a4fb5b1$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitao13.png</string>
        </dict>
    </dict>
</plist>
