<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_sunblast_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,105},{84,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{84,82}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{104,104}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{104,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,117},{114,116}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{118,116}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,119},{120,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{120,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{120,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{120,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,118}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>wsparticle_sunblast_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{114,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_sunblast.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6992f7fd1d13b86778f3113e185ba5d1$</string>
            <key>textureFileName</key>
            <string>wsparticle_sunblast.png</string>
        </dict>
    </dict>
</plist>
