<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjwns_cc1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,276},{294,384}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,384}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,388},{290,388}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{290,388}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{276,384}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{276,384}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{286,388}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{286,388}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,360}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{258,360}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{276,384}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{276,384}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,662},{294,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,392}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
            <key>wsparticle_jjwns_cc1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{272,380}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{272,380}}</string>
                <key>sourceSize</key>
                <string>{294,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjwns_cc1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6005dfbf4e102bebce5c29a33dd27ccd$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjwns_cc1.png</string>
        </dict>
    </dict>
</plist>
