<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_monster_sma2_22_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{44,42}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{44,42}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,329},{64,52}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{64,52}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,274},{70,54}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{70,54}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{90,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,62}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{94,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,64}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,205},{96,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,69},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,138},{98,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma2_22_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,274},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,60}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_monster_sma2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7673b90edf9e52a070af3f99b742b01$</string>
            <key>textureFileName</key>
            <string>wsparticle_monster_sma2.png</string>
        </dict>
    </dict>
</plist>
