<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xhj_shandian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{240,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{240,78}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{228,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{228,78}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{228,52}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{228,52}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{222,66}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{222,66}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{240,86}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{234,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{234,70}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
            <key>wsparticle_xhj_shandian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{204,72}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{204,72}}</string>
                <key>sourceSize</key>
                <string>{246,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xhj_shandian01.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12f20eee4ecdb670a45bddae046addca$</string>
            <key>textureFileName</key>
            <string>wsparticle_xhj_shandian01.png</string>
        </dict>
    </dict>
</plist>
