<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jitao04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{433,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,180}}</string>
                <key>sourceSize</key>
                <string>{433,180}</string>
            </dict>
            <key>wsparticle_jitao04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jitao04.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:731dab64f7ba57ea029f9ff8c64bafda$</string>
            <key>textureFileName</key>
            <string>wsparticle_jitao04.png</string>
        </dict>
    </dict>
</plist>
