<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1tianbing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{10,52}}</string>
                <key>offset</key>
                <string>{-69,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{10,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{20,54}}</string>
                <key>offset</key>
                <string>{-64,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,71},{20,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{36,46}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{36,46}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{30,46}}</string>
                <key>offset</key>
                <string>{-45,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{30,46}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{38,52}}</string>
                <key>offset</key>
                <string>{-42,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,88},{38,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,24},{44,52}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,96},{44,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{40,52}}</string>
                <key>offset</key>
                <string>{32,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,94},{40,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,54}}</string>
                <key>offset</key>
                <string>{60,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,79},{24,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,56},{10,52}}</string>
                <key>offset</key>
                <string>{72,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,63},{10,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,70},{22,50}}</string>
                <key>offset</key>
                <string>{65,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,47},{22,50}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,132},{32,46}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,38},{32,46}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1tianbing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{36,46}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,30},{36,46}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_tianbing1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51ad6d12076eea4753ccf8e255b82bf1$</string>
            <key>textureFileName</key>
            <string>wsparticle_tianbing1.png</string>
        </dict>
    </dict>
</plist>
