<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_monster_buf_61_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{44,60}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{44,60}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,372},{76,80}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,80}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,291},{76,80}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,80}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,194},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,97},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,291},{88,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>img_monster_buf_61_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,386},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_monster_buf_61.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940545f32c4bcf7b04726762cfa303a5$</string>
            <key>textureFileName</key>
            <string>wsparticle_monster_buf_61.png</string>
        </dict>
    </dict>
</plist>
