<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_a_bao01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,236},{200,190}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{200,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_a_bao01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{232,238}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{232,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_a_bao01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{248,252}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wsparticle_a_bao01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,256}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_a_bao01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605b668916eab0dd9f586ecf9514e1ba$</string>
            <key>textureFileName</key>
            <string>wsparticle_a_bao01.png</string>
        </dict>
    </dict>
</plist>
