<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_monster_sma_22_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{50,46}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{50,46}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,342},{78,62}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{78,62}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,342},{82,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{82,62}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{88,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{88,64}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{92,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,72},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,142},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{96,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,66}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>img_monster_sma_22_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,282},{88,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,58}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_img_monster_sma_22.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdad519acbdc070081178ab95588d38f$</string>
            <key>textureFileName</key>
            <string>wsparticle_img_monster_sma_22.png</string>
        </dict>
    </dict>
</plist>
