<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_h18daodanwenzi001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,60}}</string>
                <key>sourceSize</key>
                <string>{256,60}</string>
            </dict>
            <key>wsparticle_h18daodanwenzi002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,61},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>wsparticle_h18daodanwenzi003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,61},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_h18daodanwenzi.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99ccf9747aa40670f1747c52929b15e0$</string>
            <key>textureFileName</key>
            <string>wsparticle_h18daodanwenzi.png</string>
        </dict>
    </dict>
</plist>
