<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,288},{224,292}}</string>
                <key>offset</key>
                <string>{38,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,68},{224,292}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,360}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{190,360}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{192,354}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,6},{192,354}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,364},{194,336}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,24},{194,336}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{194,294}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{194,294}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l14.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,746},{196,276}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{196,276}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{248,292}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,68},{248,292}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{260,284}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,76},{260,284}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,582},{228,284}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{228,284}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,252},{180,306}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,52},{180,306}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,434},{186,306}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{186,306}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,434},{188,310}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{188,310}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,702},{188,314}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{188,314}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>l9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{188,356}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{188,356}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_tiankong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67fa7726c1cbf4ef2825d582cfcb3a7e:1fb3cde6b7e085a22eedffff9dc69d79:27b9c0adf0e001cdc9dcaef1835f8d1d$</string>
            <key>textureFileName</key>
            <string>wsparticle_tiankong.png</string>
        </dict>
    </dict>
</plist>
