<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjie10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{171,124}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,124}}</string>
                <key>sourceSize</key>
                <string>{171,136}</string>
            </dict>
            <key>wsparticle_lieyingjinjie10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,128},{83,158}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,158}}</string>
                <key>sourceSize</key>
                <string>{97,158}</string>
            </dict>
            <key>wsparticle_lieyingjinjie10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,238}}</string>
                <key>sourceSize</key>
                <string>{68,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjie10.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76d48d61ff68888397036c4cc99e1ee$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjie10.png</string>
        </dict>
    </dict>
</plist>
