<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j1502_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{86,136}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{86,136}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{98,122}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{98,122}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{106,126}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,127},{86,124}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{86,124}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,137},{116,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{116,132}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,137},{104,132}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{104,132}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{86,126}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{86,126}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{120,136}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{120,136}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>wsparticle_j1502_low_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,140}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{112,140}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_j1502_low.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb3178ca7cbb65ca9d6e57ba4773f3a$</string>
            <key>textureFileName</key>
            <string>wsparticle_j1502_low.png</string>
        </dict>
    </dict>
</plist>
