<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_xhjjinjie1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,436},{28,78}}</string>
                <key>offset</key>
                <string>{1,-201}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,402},{28,78}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{40,124}}</string>
                <key>offset</key>
                <string>{2,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,356},{40,124}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,387},{48,196}}</string>
                <key>offset</key>
                <string>{-4,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,284},{48,196}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{52,270}}</string>
                <key>offset</key>
                <string>{-9,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,210},{52,270}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{44,286}}</string>
                <key>offset</key>
                <string>{-12,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,157},{44,286}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,286}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,115},{58,286}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,0},{54,280}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,48},{54,280}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{50,250}}</string>
                <key>offset</key>
                <string>{6,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{50,250}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{48,212}}</string>
                <key>offset</key>
                <string>{4,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{48,212}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,338},{32,162}}</string>
                <key>offset</key>
                <string>{2,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{32,162}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
            <key>wsparticle_xhjjinjie1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,477},{34,100}}</string>
                <key>offset</key>
                <string>{-5,190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{34,100}}</string>
                <key>sourceSize</key>
                <string>{100,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_xhjjinjie1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc56ea8f7a46cf42beca03134a6d7e4$</string>
            <key>textureFileName</key>
            <string>wsparticle_xhjjinjie1.png</string>
        </dict>
    </dict>
</plist>
