<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_zbhoutao_up3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{164,185}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{164,185}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{164,189}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{164,189}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,201}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{164,201}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,186},{160,207}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{160,207}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,190},{158,207}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{158,207}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{154,203}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{154,203}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,398},{148,199}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{148,199}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{146,197}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{146,197}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,790},{144,197}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{142,199}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{142,199}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,582},{142,197}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,197}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,790},{142,197}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,197}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,598},{144,191}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{144,191}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,394},{150,187}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{150,187}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>wsparticle_zbhoutao_up3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{158,185}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{158,185}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_zbhoutao_up3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b382732ab58993eb25ad4e42a7eddb0d$</string>
            <key>textureFileName</key>
            <string>wsparticle_zbhoutao_up3.png</string>
        </dict>
    </dict>
</plist>
