<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lieyingjinjie12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,300}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{242,300}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,0},{238,266}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{238,266}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{250,270}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{250,270}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{258,294}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{258,294}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,271},{240,256}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{240,256}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{196,264}}</string>
                <key>offset</key>
                <string>{34,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,8},{196,264}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
            <key>wsparticle_lieyingjinjie12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,295},{152,254}}</string>
                <key>offset</key>
                <string>{58,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,34},{152,254}}</string>
                <key>sourceSize</key>
                <string>{270,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lieyingjinjie12.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3279217f2a462be866e14d0ee75eeef$</string>
            <key>textureFileName</key>
            <string>wsparticle_lieyingjinjie12.png</string>
        </dict>
    </dict>
</plist>
