<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_dalvbu17_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,408},{112,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,307},{112,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,208},{112,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,206},{112,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,105},{112,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{112,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,309},{112,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{112,94}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,309},{112,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,98}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,408},{110,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{110,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,408},{110,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{110,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{114,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{114,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,299},{114,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{114,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,105},{116,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,102}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,206},{116,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{116,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{116,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{116,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{116,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{116,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{118,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,101},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{116,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{116,104}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{118,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{118,100}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>wsparticle_dalvbu17_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{116,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{116,88}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_dalvbu17.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26ab983f2f26ff5a7e359efa280751b9$</string>
            <key>textureFileName</key>
            <string>wsparticle_dalvbu17.png</string>
        </dict>
    </dict>
</plist>
