<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lxfjinjie14_low_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{72,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,120}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,119},{70,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{70,118}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,119},{70,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{70,118}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,123},{72,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{72,120}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,121},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{70,120}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{68,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{68,118}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{72,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,118}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,125},{72,122}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,122}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{72,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{72,124}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{70,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{70,126}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{70,126}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>wsparticle_lxfjinjie14_low_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{70,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{70,122}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lxfjinjie14_low.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecf15045aedd2a2d6a35e1d29534baf$</string>
            <key>textureFileName</key>
            <string>wsparticle_lxfjinjie14_low.png</string>
        </dict>
    </dict>
</plist>
