<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinjienixi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,443},{64,173}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,71},{64,173}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,220},{136,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,114}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>jinjienixi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>jinjienixi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,256},{108,180}}</string>
                <key>offset</key>
                <string>{-53,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,135},{108,180}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>jinjienixi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,259},{116,182}}</string>
                <key>offset</key>
                <string>{-36,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,134},{116,182}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>jinjienixi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{106,210}}</string>
                <key>offset</key>
                <string>{-56,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{106,210}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>jinjienixi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{86,153}}</string>
                <key>offset</key>
                <string>{-43,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,37},{86,153}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{102,171}}</string>
                <key>offset</key>
                <string>{-76,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,194},{102,171}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,255}}</string>
                <key>offset</key>
                <string>{-98,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{144,255}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,443},{50,65}}</string>
                <key>offset</key>
                <string>{-102,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,138},{50,65}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,106},{112,169}}</string>
                <key>offset</key>
                <string>{-130,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,169}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{18,19}}</string>
                <key>offset</key>
                <string>{-144,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,102},{18,19}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>jinjienixi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,336},{118,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,115}}</string>
                <key>sourceSize</key>
                <string>{118,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jinjienixi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90324b98edc94366fb7b2dee73e018d6:89042c1ab40b94e3ff5806006f09f767:d09f7773e0d2d464aad6846c7f780fdd$</string>
            <key>textureFileName</key>
            <string>wsparticle_jinjienixi.png</string>
        </dict>
    </dict>
</plist>
