<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjsdsxy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,171},{170,170}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{170,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{170,170}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{170,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{172,172}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,172}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,342},{172,170}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,171},{172,170}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{172,170}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{172,168}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{172,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,338},{172,168}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{172,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,169},{172,168}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{172,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,0},{172,168}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{172,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wsparticle_jjsdsxy_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,342},{172,168}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{172,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjsdsxy.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7aa5dbd779c54d1ee73da02ea276d94$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjsdsxy.png</string>
        </dict>
    </dict>
</plist>
