<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_nezha7_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,897},{94,112}}</string>
                <key>offset</key>
                <string>{-225,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,115},{94,112}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,897},{114,130}}</string>
                <key>offset</key>
                <string>{-215,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{114,130}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,869},{148,158}}</string>
                <key>offset</key>
                <string>{-198,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{148,158}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,641},{200,160}}</string>
                <key>offset</key>
                <string>{-172,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{200,160}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,316},{262,172}}</string>
                <key>offset</key>
                <string>{-141,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{262,172}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,489},{338,196}}</string>
                <key>offset</key>
                <string>{-103,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{338,196}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,0},{410,202}}</string>
                <key>offset</key>
                <string>{-67,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{410,202}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,384},{512,204}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{512,204}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{544,194}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{544,194}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{542,188}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{542,188}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,384},{528,158}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,45},{528,158}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{530,142}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,60},{530,142}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,384},{484,128}}</string>
                <key>offset</key>
                <string>{30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{484,128}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,203},{400,112}}</string>
                <key>offset</key>
                <string>{72,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,79},{400,112}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,915},{358,108}}</string>
                <key>offset</key>
                <string>{93,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,83},{358,108}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,316},{324,96}}</string>
                <key>offset</key>
                <string>{110,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,91},{324,96}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{128,66}}</string>
                <key>offset</key>
                <string>{208,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,115},{128,66}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
            <key>wsparticle_nezha7_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,129},{22,20}}</string>
                <key>offset</key>
                <string>{258,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{519,127},{22,20}}</string>
                <key>sourceSize</key>
                <string>{544,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_nezha7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c83854d968299cea10b9c23753b2d23d$</string>
            <key>textureFileName</key>
            <string>wsparticle_nezha7.png</string>
        </dict>
    </dict>
</plist>
