<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_jjxsm001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,678},{322,296}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,71},{322,296}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,678},{338,310}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{338,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{348,328}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{348,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,0},{352,334}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{352,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{352,338}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{352,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,335},{350,342}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{350,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{340,340}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{340,340}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{308,290}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,83},{308,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>wsparticle_jjxsm001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,291},{304,288}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,79},{304,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_jjxsm001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3910bd72d02cf48d6a585cd05112ac78$</string>
            <key>textureFileName</key>
            <string>wsparticle_jjxsm001.png</string>
        </dict>
    </dict>
</plist>
