<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_lxfjinjie09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,480},{110,228}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,92},{110,228}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,789},{110,234}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,88},{110,234}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{114,238}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,84},{114,238}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{118,240}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,84},{118,240}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,273},{118,242}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,88},{118,242}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,789},{120,232}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,97},{120,232}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,0},{124,228}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,104},{124,228}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,709},{124,224}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,106},{124,224}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,788},{124,216}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,107},{124,216}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,788},{122,214}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,106},{122,214}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{124,216}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,101},{124,216}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,229},{114,218}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,96},{114,218}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,480},{236,218}}</string>
                <key>offset</key>
                <string>{112,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,84},{236,218}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,801},{234,222}}</string>
                <key>offset</key>
                <string>{111,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,61},{234,222}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{220,264}}</string>
                <key>offset</key>
                <string>{104,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,19},{220,264}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{214,262}}</string>
                <key>offset</key>
                <string>{102,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,21},{214,262}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,272}}</string>
                <key>offset</key>
                <string>{139,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,5},{288,272}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,241},{214,238}}</string>
                <key>offset</key>
                <string>{103,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,33},{214,238}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,538},{214,250}}</string>
                <key>offset</key>
                <string>{103,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,15},{214,250}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,191},{214,206}}</string>
                <key>offset</key>
                <string>{102,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,46},{214,206}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,589},{176,198}}</string>
                <key>offset</key>
                <string>{82,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,54},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,788},{156,186}}</string>
                <key>offset</key>
                <string>{72,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,71},{156,186}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,398},{208,190}}</string>
                <key>offset</key>
                <string>{98,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,73},{208,190}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
            <key>wsparticle_lxfjinjie09_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{234,190}}</string>
                <key>offset</key>
                <string>{112,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,92},{234,190}}</string>
                <key>sourceSize</key>
                <string>{600,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_lxfjinjie09.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77031dd625999e20491887b4d320f842$</string>
            <key>textureFileName</key>
            <string>wsparticle_lxfjinjie09.png</string>
        </dict>
    </dict>
</plist>
