<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xi2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,462},{204,266}}</string>
                <key>offset</key>
                <string>{-199,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,158},{204,266}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{400,362}}</string>
                <key>offset</key>
                <string>{1,174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,295},{400,362}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{208,424}}</string>
                <key>offset</key>
                <string>{-201,438}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{208,424}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,424}}</string>
                <key>offset</key>
                <string>{200,438}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,0},{208,424}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{162,124}}</string>
                <key>offset</key>
                <string>{-1,396}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,192},{162,124}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,256},{82,128}}</string>
                <key>offset</key>
                <string>{-65,235}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,351},{82,128}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,854},{84,128}}</string>
                <key>offset</key>
                <string>{65,235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,351},{84,128}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,256},{204,266}}</string>
                <key>offset</key>
                <string>{199,359}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,158},{204,266}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
            <key>xie2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{342,252}}</string>
                <key>offset</key>
                <string>{-1,427}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,97},{342,252}}</string>
                <key>sourceSize</key>
                <string>{640,1300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f332e4a405978c9ace4d930f58e877c8:a026361b1c226e493ecebc71efd2c068:a206aa1141e4b73668bbcfd4ae499ec3$</string>
            <key>textureFileName</key>
            <string>xie.png</string>
        </dict>
    </dict>
</plist>
